html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    background-color: #fff9f7;
    background-image: url(background.png);
    background-size: cover;
    display: table;
    position: fixed;
}
#flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
h4{
    color: white;
    font-family: verdana;
    margin-left: 39px;
}
#meer{
    margin-left: 57px;
}
#hobbies{
    margin-left: 20px;
    color: white;
    font-family: verdana;
}
ul{
    list-style-type: none;
    color: white;
    font-family: verdana;
    margin: 0;
}
a{
    text-decoration: none;
}
#overmijtexst{
    color: white;
    display: inline;
}
#fotovanmij{
    width: 240px;
    height: 280px;
    border: 1px solid white;
}
#down{
   padding-top: 5px;
   position: fixed;
}
#table{
    display: table-cell;
}
#titel{
    margin-top: 20%;
    font-family: Verdana;
    font-size: 30px;    
    text-align: center;
    font-family: Verdana;
}
#icons{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}
.menu{
    font-size: 25px;
}
#h-overmij{
    /*background-color: #3f4144;*/
    height: 50px;
    margin: 0;
    padding: 0;
}
#home{
    color: white;
    font-size: 25px;
}
#title{
    color: white;
    text-align: center;
    display: inline;
    font-family: Verdana;
    margin-top: 50px;
}
h1{
    margin: 0;
    color: white;
}
i:hover{
    color: #bc0000;
    cursor: pointer;
}
a{
    color: white;
    padding: 0px 20px 0px 20px; 
}
a:hover{
    colror: #0048bc;
    cursor: pointer;
}
a:visited{
    color: white;
}