body{
    background-color: #fff9f9;
    -webkit-touch-callout: none !important;
}
h1{
    display: table-cell;
    font-size: 50px;
    font-family: verdana;
    vertical-align: middle;
    text-align: center;
    color: white;
}
#fotovenster{
    width: 920px;
    height: 300px;
    background-image: url(game.jpg);
}
#home{
    margin: 0;
    font-family: verdana;
}
#site{
    height: 100px;
    width: 440px;
    display: none;
}
#home1{
    font-family: verdana;
    font-size: 65px;
    font-weight: bold;
}
#flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
p{
    z-index: 1;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 50px;
    font-family: verdana;
    font-weight: bold;
    -webkit-user-select: none;
}
#name1{
    width: 920px;
    height: 200px;
}
.overmij{
    display: table-cell;
    font-weight: bold;
    font-size: 50px;
    vertical-align: middle;
    text-align: center;
}
#black{
    z-index: 1;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: 50px;
    font-family: verdana;
    font-weight: bold;
    -webkit-user-select: none;
}
#download{
    font-family: verdana;
    font-size: 40px;
}
#homebutton{
    height: 200px;
    width: 920px;
}
#textvenster{
    width: 920px;
    height: 100%;
}
h2{
    padding-left: 20px;
    font-family: verdana;
    font-size: 40px;
    color: white;
}
ul{
    color: white;
    font-size: 40px;
    font-family: verdana;
    padding-left: 20px;
}
li{
    list-style-type: none;
}
#bg{
    display: table;
    background-image: url(code1.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.7s;
}
#bg2{
    background-image: url(personal.jpg);
    width: 100%;
    height: 100%;
}
#opdracht1{
    display: table;
    background-image: url(game.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.7s;
}
#opdracht1:active{
    filter: invert(.8);
    transform: scale(1.1);
}
#opdracht2{
    display: table;
    background-image: url(vloot.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.7s;
}
#opdracht2:active{
    filter: invert(.8);
    transform: scale(1.1);
}
#opdracht3{
    display: table;
    background-image: url(space2.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.7s;
}
#opdracht3:active{
    filter: invert(.8);
    transform: scale(1.1);
}
#opdracht4{
    display: table;
    background-image: url(handy.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.7s;
}
#opdracht4:active{
    filter: invert(.8);
    transform: scale(1.1);
}
#opdracht5{
    display: table;
    background-image: url(layout.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.7s;
}
#opdracht5:active{
    filter: invert(.8);
    transform: scale(1.1);
}
#opdracht6{
    display: table;
    background-image: url(robotarm.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.7s;
}
#opdracht6:active{
    filter: invert(.8);
    transform: scale(1.1);
}
#opdracht7{
    display: table;
    background-image: url(recepten.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.7s;
}
#opdracht7:active{
    filter: invert(.8);
    transform: scale(1.1);
}
.content{
    height: 440px;
    width: 440px;
    margin: 20px;
    background-color: #990000;
    display: table;
    overflow: hidden;
    transition: .4s;
}
.content:hover{
    background-color: #6d0000;
}
.content:active{
    background-color: #6d0000;
}
a{
    display: table-cell;
    font-size: 100px;
    color: white;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-family: Verdana;
}
